@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');

$h1_font_size: 70px;
$h1_font_size_tablet: 46px;
$h1_font_size_mobile: 34px;

$h2_font_size: 55px;
$h2_font_size_tablet: 34px;
$h2_font_size_mobile: 28px;

$h3_font_size: 40px;
$h3_font_size_mobile: 22px;
$h3_font_size_tablet: 28px;

$span_font_size: 22px;
$span_font_size_mobile: 16px;

$link_button_font_size: 22px;
$link_button_font_size_mobile: 16px;

// @font-face {
//   font-family: Inter;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-VariableFont_slnt\,wght.ttf);
// }

// @font-face {
//   font-family: Inter, black;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-Black.ttf);
// }

// @font-face {
//   font-family: Inter, bold;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-Bold.ttf);
// }

// @font-face {
//   font-family: Inter, extra-bold;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-ExtraBold.ttf);
// }

// @font-face {
//   font-family: Inter, extra-light;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-ExtraLight.ttf);
// }

// @font-face {
//   font-family: Inter, light;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-Light.ttf);
// }

// @font-face {
//   font-family: Inter, medium;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-Medium.ttf);
// }

@font-face {
    font-family: Inter;
    src: url(https://theinsideline.github.io/about-us/fonts/Inter-Regular.ttf);
}

// @font-face {
//   font-family: Inter, semi-bold;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-SemiBold.ttf);
// }

// @font-face {
//   font-family: Inter;
//   src: url(https://theinsideline.github.io/about-us/public/fonts/Inter-Thin.ttf);
// }
