@import './fonts.scss';
@import './breakpoints.scss';

.paragraph {
    span {
        font-size: $span_font_size;
        font-family: Inter;
        text-align: center;
    }
}

@include mobile {
    .paragraph {
        margin-bottom: 15px;

        span {
            font-size: $span_font_size_mobile;
            line-height: $span_line_height_mobile;
        }
    }
}

@include tablet {
    .paragraph {
        margin-bottom: 20px;

        span {
            font-size: $span_font_size_mobile;
            line-height: $span_line_height_mobile;
        }
    }
}

@include laptop {
    .paragraph {
        margin-bottom: 20px;

        span {
            font-size: $span_font_size_mobile;
            line-height: $span_line_height_mobile;
        }
    }
}

@include desktop {
    .paragraph {
        margin-bottom: 20px;

        span {
            font-size: $span_font_size_mobile;
            line-height: $span_line_height_mobile;
        }
    }
}

@include tv {
    .paragraph {
        margin-bottom: 30px;

        span {
            font-size: $span_font_size;
            line-height: $span_line_height;
        }
    }
}
